.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d8d8d8;
    outline: none;
}

.button {
    background: #000;
    color: #fff;
    border: 0;
    outline: 0;
    box-shadow: none;
    width: auto;
    padding: 10px 24px;
    font-size: 16px;
    cursor: pointer;
}