.main {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

@media (max-width: 600px) {
    .main {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 992px) {
    .main {
        width: 100%;   
    }
}

.empty {
    text-align: center;
}